#header{
	width: 100%;
	height: 100px;
	background-color: white;
}
#btnclick{
	float: left;
	width: 200px;
}
#frames{
	width: 700px;
	float: left;
}
#logo{
	height: 100px;
	width: 20%;
	float: left;
}
#image{
	height: 100px;
	width: 90%;
}
#functionpart{
	float: left;
	width: 80%;
}
#infopart{
	height: 50px;
	width: 100%;
}
#email{
	float: left;
	margin-left: 100px;
	font-family: Verdana, sans-serif;
}
#sdt{
	float: left;
	margin-left: 100px;
	font-family: Verdana, sans-serif;
}
#contactpart{
	float: left;
}
#enterpagepart{
	float: left;
	margin-left: 300px;
}
#searchbar{
	clear: left;
	margin: auto;
	width: 100%;
}
#extention{
	margin: auto;
	width: 60%;
}

#body{
	clear: left;
	width: 100%;
	margin: auto;
	height: 670px;
	background-color: #d0b795;
	margin-top: 30px;
}
.link{
	text-decoration: none;
}
#imagedetailframe{
	height: 670px;
	width: 35%;
	float: left;
}
#imagedetail{
	height: 670px;
	width: 100%;
}
#giadau{
	color: red;
	text-decoration: line-through;
}
#giahientai{
	color: yellow;
}
#btnadd{
	text-align: center;
	margin-top: 100px;
}
#detailbook{
	width: 30%;
	height: 670px;
	float: left;
	background-color: #d0b795;
}
#desbook{
	background-color: #d8c3a6;
	width: 35%;
	height: 670px;
	float: left;
	text-align: center;
}
#descontent{
	margin-top: 50px;
}
.tensach{
	margin-top: 100px;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	font-style: italic;
}
.infors{
	font-size: 18px;
	font-family: Verdana, sans-serif;
	margin-top: 40px;
	margin-left: 40px
}




#footer{
	width: 100%;
	height: 200px;
	background-color: white;
}
#address{
	float: left;
	width: 30%;
}
#slogan{
	float: left;
	width: 30%;

}
#payment{
	float: left;
	width: 30%;
	text-align: center;
}
.text3{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.text4{
	font-size: 19px;
	text-align: center;
}
#soci{
	text-align: center;
}
